<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chatviewer.blog.mapper.ArticleMapper">

    <select id="getWithAuthor" resultType="com.chatviewer.blog.dto.ArticleDto">
        select blog_article.*, user_name, user_avatar
        from blog_article, blog_user
        where article_id = #{articleId} and blog_article.user_id = blog_user.user_id
    </select>

</mapper>