<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chatviewer.blog.mapper.CommentMapper">

    <select id="queryArticleComments" resultType="Long">
        select comment_id from blog_comment where blog_comment.article_id = #{articleId}
    </select>

    <select id="queryLikeComments" resultType="Long">
        select entity_id
        from blog_like
        where user_id = #{userId} and entity_type = 1 and status = 1 and
              entity_id in (select comment_id from blog_comment where blog_comment.article_id = #{articleId});
    </select>

    <!-- 配置 CommentDto中的映射关系 -->
    <resultMap id="commentResultMap" type="com.chatviewer.blog.dto.CommentDto">
        <id property="id" column="comment_id" />
        <result property="parentId" column="parent_id" />
        <result property="uid" column="user_id" />
        <result property="content" column="comment_content" />
        <result property="likes" column="like_counts" />
        <result property="createTime" column="create_time" />
        <!-- 配置 user 的映射关系 -->
        <association property="user" javaType="com.chatviewer.blog.dto.UserDtoForComment">
            <result property="username" column="user_name" />
            <result property="avatar" column="user_avatar" />
        </association>
    </resultMap>

    <select id="queryReplyWithAuthor" resultMap="commentResultMap">
        select blog_comment.*,
               blog_user.user_name,
               blog_user.user_avatar
        FROM blog_comment JOIN blog_user ON blog_comment.user_id = blog_user.user_id
        WHERE blog_comment.parent_id = #{parentId} and blog_comment.comment_type = #{commentType}
    </select>

</mapper>