<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chatviewer.blog.mapper.LikeMapper">

    <update id="updateLikeCounts">
        <if test="entityType == 0">
            update blog_article set like_counts = #{likeCounts} where article_id = #{entityId};
        </if>
        <if test="entityType == 1">
            update blog_comment set like_counts = #{likeCounts} where comment_id = #{entityId};
        </if>
    </update>

</mapper>